.text-box {
    background-color: darkslategrey;
    color: white;
}


.overlay{
    background-color: rgba(0,0,0,0.4);
    height:100%;
    width: 100%;
    position:absolute;
}

@media only screen and (max-width: 768px) {
    .work {
        font-size: 70px;
    }
    .overlay{
        background-color: rgba(0,0,0,0.4);
        height:100%;
        width: 100%;
        position:absolute;
    }
}
